<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>To Do</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-cloak ng-controller="todoController">
  <div class="container">
    <header>
      <div ng-click="showTodo()" class="section four columns">
        <p class="sectionText">New</p>
      </div>
      <div ng-click="showCurrentDo()" class="section four columns">
        <p class="sectionText">Do</p>
      </div>
      <div ng-click="showDone()" class="section four columns">
        <p class="sectionText">Did</p>
      </div>
    </header>
    <main>
      <div ng-show="newTodo" class="eight offset-by-two columns">
      <input ng-model="todo.text" type="text" class="newDo u-full-width">
      <button ng-click="addTodo(todo)">Add it</button>
      </div>
      <div ng-show="currentDo" class="eight offset-by-two columns">
        <h1>You still have to do this stuff</h1>
        <ul>
          <li ng-repeat="todo in todos">
            <div ng-show="!todo.done" class="currentTodo">
            <input type="checkbox" ng-click="completeTask(todo)" name="todoDone"><p ng-class="{done: todo.done}">{{ todo.text }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div ng-show="done" class="eight offset-by-two columns">
        <h1>This stuff is done</h1>
        <ul>
          <li ng-repeat="todo in todos">
            <div ng-show="todo.done" class="currentTodo">
            <p ng-class="{done: todo.done}">{{ todo.text }}</p>
            </div>
          </li>
        </ul>
      </div>
    </main>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>